body {
    background-color:  #B23F2C;
  }

.Menu{
    background-color:#F8F1E6;
    margin:auto;
    width:1366px;
    height: 589px;
    position: absolute;
    top: 60px;
    overflow:auto;
    margin: -8px;
    
}

.BemVindo{
    margin-top: 100px;
    width: 240px;
    height: 110px;
    margin-left: 240px;
    font-family: Arial, Helvetica, sans-serif;
    color: #B23F2C;
    font-weight: 100px;
    font-size: 15px;
    
}
.Login{
    width: 25%;
    display: 500px;
    margin-left: 800px;
    top: -15px;
    float: top;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #B23F2C;
    font-size: 15px;
    
}
input.login1{
    border-radius: 15px;
    background-color:#D9D9D9;
    width:380px;
    padding: 8px;
    border:none;
}
.botao{
    float: left;
}
.botao2{
    float: right;
    border:none;
    font-size: 110%;
    background-color: transparent;
    margin-top: -30px;
}
.Cadastro{
    width: 25%;
    display: 500px;
    margin-left: 800px;
    margin-top: -130px;
    top: -10px;
    float: top;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #B23F2C;
    font-size: 15px;
}
select{
    position: relative;
    width: 400px;
    height: 40px;
}

#icons{
    position: relative;
    margin-top: -15px;
    top: -10%;
    right: -358px;
    transform: translateY(-50%);
    background: url('ligado.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#icon.desligado{
    background: url('desligado.png');
    background-size: cover;
}

.img{
   
    margin-top: 20px;
    width: 580px;
    height: 110px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #B23F2C;
}

h3{
    color: #000000;
    font-style: italic;
}

.pesquisa{
 float:right;
margin: -20px 150px 10px 60px;
}

#iconsp{
    position: relative;
    margin-top: -15px;
    top: -10%;
    right: -358px;
    transform: translateY(-50%);
    background: url('search.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.usuario{
    float:right;
    margin: -60px -190px -10px 60px;
}
#iconsU{
    position: relative;
    margin-top: -15px;
    top: -10%;
    right: -358px;
    transform: translateY(-50%);
    background: url('account.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.filtro{
    margin-top:95px;
    margin-left: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    font-size: 14px;
}